---
http_interactions:
- request:
    method: post
    uri: https://api.ticktick.com/api/v2/user/signon
    body:
      encoding: UTF-8
      string: '{"username":"user@example.com","password":"rightpassword"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Ticktick-Via:
      - ticktick
    body:
      encoding: ASCII-8BIT
      string: '{"token":"THETOKEN","userId":"115730865","username":"user@example.com","proStartDate":"2020-02-06T10:52:55.000+0000","proEndDate":"2021-02-08T10:00:00.000+0000","subscribeType":"paypal_subscribe","subscribeFreq":"Year","needSubscribe":false,"inboxId":"inbox115730865","teamUser":false,"activeTeamUser":false,"pro":true,"ds":false}'
  recorded_at: Fri, 07 Feb 2020 19:03:03 GMT
recorded_with: VCR 5.1.0
