---
http_interactions:
- request:
    method: post
    uri: https://api.ticktick.com/api/v2/user/signon
    body:
      encoding: UTF-8
      string: '{"username":"user@example.com","password":"wrongpassword"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Ticktick-Via:
      - ticktick
    body:
      encoding: ASCII-8BIT
      string: '{"errorId":"q44simfp@-0-1-105","errorCode":"username_not_exist","errorMessage":"user@example.com","data":null}'
  recorded_at: Fri, 07 Feb 2020 19:01:23 GMT
recorded_with: VCR 5.1.0
